/* src/App.css */
.app-container {
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

header {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  height: 420px;
  position: relative;
}

canvas {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-body {
  max-height: 420px;
  overflow: hidden;
  position: relative;
  text-align: justify;
}

.product-body p:first-child {
  text-align: center; 
  margin-bottom: 10px; 
}

